.contents{
  width: 360px;
  margin: 20px auto;
  padding: 15px;
  background-color: gray;
  text-align: center;
}

#btn {
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin: 10px auto;
  background-color: aqua;
  color: aliceblue;
  font-size: 24px;
  user-select: none;
  border-radius: 15px;
  cursor: pointer;
}

#result{
  
}