<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="css/style.css">
    <script src="index.js"></script>
    <meta charset="utf-8">
    <title>UraRa</title>
  </head>
  <body>
    <div class="contents">
      <div id="btn">占う</div>
      <p>今日の運勢は</p>
      <div id="btn"></div>
    </div>
    <script src="js/main.js"></script>
  </body>

  <body>
    <%= yield %>
  </body>
</html>

